NEXT_PUBLIC_REOWN_PROJECTID=
NEXT_PUBLIC_GNOSIS_RPC=
# maximum number of markets to predict at once, more than this will result in chunks of transactions
NEXT_PUBLIC_MAX_MARKETS_PER_BATCH=10
# https://thegraph.com/explorer/subgraphs/AAA1vYjxwFHzbt6qKwLHNcDSASyr1J1xVViDH8gTMFMR?view=Query&chain=arbitrum-one
NEXT_PUBLIC_ALGEBRA_SUBGRAPH=
# server-only: Credora GraphQL ClientSecret header, do not prefix with NEXT_PUBLIC_
CREDORA_API=
